<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://stackbox.org" target="_blank" title="Stackbox">Stackbox's Blog</a></li>
      <li><a href="http://hugofeng.info" target="_blank" title="hugo">Flight log</a></li>
    </ul>
</div>